/******** FOOTER *******/
footer {
  font-size: 16px;
  width: 100%;
  height: 120px;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  background-color: gray;
  color: white;
}
