.hobby-wrapper {
  height: 30px;
  width: 30px;
}

.hobbies {
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.hobby-icon {
  height: 30px;
  width: 30px;
}

.icon {
  height: 80px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
}
