.navbar {
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
     transition: all 1s ease; 
     -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
     border-bottom: none;
  }
  
  .navbar-border{
    border-bottom: 2px solid #cccccc !important;
  }
  
  .white-background{
    background-color: white !important;
  }


  .white-font{
    color: white !important;
  }

  /* Using bootstrap's navbar default blue color: #337ab7 */ 
  .blue-font{
    color:#337ab7 !important;
  }
  

  .navbar-brand{
    font-size: 25px;
  }
  

 .navbar-nav a:hover {
   background-color: transparent;
   text-decoration: underline !important;
  }

  .navbar-nav a:visited,  .navbar-nav a:link {
    background-color: transparent !important;;
  }
   
  .navbar-nav a:hover{
    text-decoration: none !important;
  }
  
  .active{
    text-decoration: underline !important;
  }

  .icon-bar{
    background-color: white !important;
  }

  .bootstrap-background-color{
    background-color: #337ab7 !important;
  }