.navbar {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border-bottom: none;
}

.navbar-border {
  border-bottom: 2px solid #cccccc !important;
}

.white-background {
  background-color: white !important;
}

.white-font {
  color: white !important;
}

/* Using bootstrap's navbar default blue color: #337ab7 */
.blue-font {
  color: #337ab7 !important;
}

.navbar-brand {
  font-size: 25px !important;
}

.navbar-brand:hover {
  color: #337ab7 !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.active {
  text-decoration: underline !important;
}

ul.white-font.navbar-nav > li > a {
  color: white;
}

ul.blue-font.navbar-nav > li > a {
  color: #337ab7;
}

.nav-link {
  padding: 0 0;
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

@media (min-width: 768px) {
  .navbar {
    margin-right: -20px;
  }
  .nav-link {
    padding: 10px 15px !important;
  }
}
